html, body{
	padding: 20px;;
	/* background-image: linear-gradient(to right bottom, #ca97df, #a67bc8, #8160b2, #5a479c, #2c3087); */
	color: white;
	font-family: monospace;
	background-image: url("llyfrgell.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul, li {
	margin-left: 0; 
	padding-left: 0;
	list-style: none;
}

.card{
	padding: 10px;
	margin-top: 15px;
	/* min-height: 100%; */
	color: white;
	background-color: rgba(32, 32, 32, 0.8);
	font-family: sans-serif;
}
#form-container{
	display: flex;
	justify-content: center;
}
#form-toggle-btn{
	margin: 25px 0px;
	width: 100%;
}


#form-container{
	margin-top: 20px;
}

.btn{
	margin-top: 2px;
}
#formSubmit{
	width: 100%;
}
.card-button{
	width: 100%;
}
.form-check{
	display: flex;
}
.form-checkbox{
	margin-right: 30px;
}
h1{
	margin: auto;
	text-align: center;
}
@media only screen and (min-width: 600px) {
	h1{
		font-size: 55px;
	}
}
h5{
	font-size: 20px;
}